/* css common and utilites style  */
body {
  font-family: "Ubuntu", sans-serif;
  background-color: #e0e7f7;
}
/* Banner section style  */
.banner-bg {
  width: 1200px;
  background-color: #024161;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 80px;
}
.banner {
  display: flex;
  margin-top: -50px;
}
.banner-left {
  width: 50%;
  color: white;
  margin-bottom: 140px;
  margin-left: 50px;
  margin-top: 50px;
}
.banner-left h1 {
  font-size: 80px;
  margin-bottom: 16px;
  font-weight: bold;
}
.banner-left p {
  font-size: 20px;
  font-weight: bold;
}
.banner-right {
  width: 50%;
  padding-left: 20px;
  padding-right: 60px;
}
.banner-right img {
  width: 100%;
  height: 100%;
}
.banner-right img:hover {
  filter: grayscale(100%);
}
.btn {
  text-decoration: none;
  background-color: #ff5200;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  line-height: 50px;
  text-transform: uppercase;
  transition: o.3s ease;
}
.btn:hover {
  background-color: #024161;
  color: white;
  border: 2px solid green;
  border-radius: 20px;
}
.fa-angle-right:before {
  content: "\f105";
  margin-left: 5px;
}
/* Main section start  */
.container-bg {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.main-container {
  display: flex;
  gap: 15px;
}
.sidebar {
  background-color: #024161;
  width: 380px;
  height: 230px;
  border-radius: 5px;
  padding-left: 35px;
}
.sidebar li {
  margin: 28px 0px;
  margin-left: 6px;
  list-style-type: none;
}
.sidebar li a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px 20px;
  display: inline-block;
  width: 150px;
  border-radius: 5px;
  text-align: center;
}
.link-btn-three {
  background-color: #ff5200 !important;
  color: white !important;
}
.container {
}
.thumbnail {
}
.thumbnail img {
  width: 100%;
}
.btn-blog {
  margin-top: 10px;
  margin-left: 15px;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.blog {
}
.blog-info {
  border: 1px solid #ddd;
  margin-top: -4px;
}
.blog-info h3 {
  padding: 0px 15px;
}
.others {
  display: flex;
}
.fa-clock-four:before,
.fa-clock:before {
  content: "\f017";
  margin-left: 15px;
}
.fa-rocketchat:before {
  content: "\f3e8";
  margin-left: 40px;
}
/* view-all section  */
.view-all-section {
}
.view-all {
  text-align: center;
  margin-bottom: 80px;
  display: none;
}
.view-all a {
  text-decoration: none;
  background-color: tomato;
  color: white;
  padding: 15px 30px;
  font-size: 30px;
  border-radius: 5px;
}
/* Footer section start  */
.footer-bg {
  background-color: #024161;
  padding: 60px 0px;
}
.footer-title {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.footer-top {
  display: flex;
  justify-content: center;
}
.footer-top li {
  list-style-type: none;
  padding-right: 30px;
  color: white;
}
.social-icon {
  text-align: center;
  margin-top: 20px;
}
.social-icon a {
  margin-right: 10px;
}
.icon {
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  padding-top: 5px;
}
.icon-color-one {
  background-color: #3b5998;
  color: white;
}
.icon-color-two {
  background: #bb0000;
  color: white;
}
.icon-color-three {
  background: #007bb5;
  color: white;
}
/* Upcoming match part  */
.upcoming-matches {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 30px 20px;
}
.upcoming-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 18px;
  grid-row-gap: 18px;
}
.coming-match {
  display: flex;
  gap: 15px;
}
.match-info {
  text-align: center;
}
/*------------------ 
Media query css 
--------------------- */

/* Mobile device responsibe  */

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .wrapper {
    width: 100%;
  }
  .banner-bg {
    margin-left: 12%;
  }
  .banner {
    display: block;
  }
  .banner-left {
    width: 100%;
  }
  .banner-right {
    width: 100%;
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .sidebar {
    display: none;
  }
  .footer-bg {
    margin-left: 12%;
  }
  .footer-top {
    display: block;
    text-align: center;
    margin-left: 10px;
  }
  .upcoming-container {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 25%;
  }
}

/* Tablet device  */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
  .blogs {
    grid-template-columns: repeat(2, 1fr);
  }
  .sidebar {
    display: none;
  }
  .view-all {
    display: block;
  }
  .banner {
    display: flex;
  }
  #last-blog {
    display: none;
  }
  .upcoming-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
